<div style="margin-left: 5%" class=archive>
    {{#if archive}}
        <p>当前类目:{{archive }}</p>
    {{else}}
        <p>所有文章:</p>
    {{/if}}

    <ol>
        {{#each archives}}
            <li>
                <a class="title" href="/archive/{{time}}"><span class=time>{{date}}</span>{{title}}</a>
                <a class="" href="/archive/archive/{{archive}}">{{archive}}</a>
                <a class="fr delete" href="/archive/delete/{{time}}">删除</a>
            </li>

        {{/each}}

    </ol>
</div>
